<h3>Добро пожаловать в центр быстрых операций на фондовых биржах</h3>
<p>Совершайте ставки на изменение котировок акций за короткий промежуток времени</p>
<p>Для начала работы, перейдите в <%= link_to "Торговые залы", traderooms_path %></p>
