<h1>Listing traderooms</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <% if current_user.has_role? :admin %>
      <th></th>
      <th></th>
      <% end %>
      
    </tr>
  </thead>

  <tbody>
    <% @traderooms.each do |traderoom| %>
      <tr>
        <td><%= link_to traderoom.name, traderoom %></td>
        <% if current_user.has_role? :admin %>
        <td><%= link_to 'Edit', edit_traderoom_path(traderoom) %></td>
        <td><%= link_to 'Destroy', traderoom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>