/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
*/

// Colours
$orange: #F36F2A;
$blue: #2859A8;

// HEADER
#top-header {
  > .row {
    margin-bottom: 1em;
  }
  
  .search {
    form,
    input[type="text"],
    .button {
      margin: 0;
    }
  }

  .block {
    position: relative;
    h2 {
      font-size: 1em;
      color: $orange;
      text-transform: uppercase;
    }
    .more {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

// branding
.branding {
  .site-title,
  .site-slogan {
    display: inline;
    color: $orange;
  }
  .site-title {
    text-transform: lowercase;
    font-size: 1.3em;
  }
  .site-slogan {
    font-size: 1em;
    font-weight: 300;
  }
}

// MAIN

// NEWS

// Front pane
#news-block {
	.content {
		overflow: hidden;
	}
	.pane {
		float: left;
	}
	.news-1 {
		width: 20%;
	}
	.news-2, .news-3 {
		width: 40%;
	}
	
	.block-title {
		color: $blue;
		font-size: em-calc(17px);
	}
}

// FOOTER
footer {
  border-top: 4px solid #222;
  background-color: #eee;
}

// MESSAGES
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}


